/* add stamp on the homepage */
div.putStampHere:after
{
    content:"OBPS Workshop VI \A       more info";
    white-space: pre-wrap;
    position:absolute;
    /*position:relative;*/
    top:40px;
    left:40px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-30deg); /* Safari */
    -moz-transform: rotate(-30deg); /* Firefox */
    -ms-transform: rotate(-30deg); /* IE */
    -o-transform: rotate(-30deg); /* Opera */
    transform: rotate(-30deg);
    font-size:30px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:25px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.5;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
    cursor: pointer;
}
