// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/lato/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
      /* Modern Browsers */ url("../fonts/lato/Lato-Regular.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/lato/Lato-Regular.ttf")
        format("truetype");
    font-style: normal;
    font-weight: normal;
    //text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/lato/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato/Lato-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/lato/Lato-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  //text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/lato/Lato-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato/Lato-Light.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/lato/Lato-Light.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  //text-rendering: optimizeLegibility;;
}

$lato-regular: "Lato-Regular";
$lato-bold: "Lato-Bold";
$lato-light: "Lato-Light";

body {
  font-family: $lato-regular !important;
//   word-break: break-word;
  background: lightgray;
  font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
}

b, strong{
    font-family: $lato-bold !important;
}

.container{
    background: white;
    padding-left: 30px;
    padding-right: 30px;
}

ul.dropdown-menu{
    max-width: 100%;
}

.dropdown-item{
    word-break: break-word;
    white-space: pre-line;
}

div#wrapper-navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.admin-bar #wrapper-navbar{
    top: 32px;
    z-index: 9;
}

div#page-wrapper,
#single-wrapper,
#archive-wrapper,
.features {
    margin-top: $navbar-height;
}

@media (min-width: 979px) {
  ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

ul.dropdown-menu ul.dropdown-menu{
  left: 100%;
  top: -1px;
}

.dropdown-item{
  border-bottom: 1px solid white;
}

.wrapper{
    padding: 0;
    position: relative;
}

@media(max-width: 576px){
    .parallax {
        background-image: url("../images/front-page-background-768.jpg");
        background-attachment: scroll !important;
    }

    input.mailpoet_submit{
        margin-left: 0px !important;
    }

    .dropdown-toggle::after{
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .navbar .container{
        padding-left: 5px;
        padding-right: 5px;
    }

    #main-menu > .menu-item {
        border-bottom: 1px solid #fff;
        margin: 0px 10px;
    }

    .news{
        .our-news{
            font-size: $title-font-size-xs;
        }
    }

    .our-events {
        font-size: $title-font-size-xs;
    }

    .feedback-title {
        font-size: $title-font-size-xs;
    }

    .our-vision{
        font-size: $title-font-size-xs;
    }

    .parallax {
        background-image: url("../images/front-page-background-768.jpg");
    }

    // .logo-white{
    //     position: relative;
    //     max-width: 150px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

    span.caret{
        font-size: 30px;
        top: 1rem !important;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 16px;
    }

    .news{
        .our-news{
            font-size: $title-font-size-sd;
        }
    }

    .our-events {
        font-size: $title-font-size-sd;
    }

    .feedback-title {
        font-size: $title-font-size-sd;
    }

    .our-vision{
        font-size: $title-font-size-sd;
    }


    .parallax {
        background-image: url("../images/front-page-background-1024.jpg");
    }
}

@media (max-width: 991px) {
    .container{
        padding: 15px;
    }

    .btn-round {
        border-radius: 40px;
        border: 1px solid grey;
        font-size: inherit;
        font-family: $lato-bold;
        margin-bottom: 10px;
    }
    
}
@media (min-width: 991px) {
    .home .container{
        padding:  50px 20px;
    }

    .footer-container{
        padding: 50px 20px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 18px;
    }

    .btn-round {
        border-radius: 40px;
        padding: 10px 40px;
        border: 1px solid grey;
        font-size: 30px;
        font-family: $lato-bold;
    }

    .news{
        .our-news{
            font-size: $title-font-size-md;
        }

        .btn-more-news {
            position: absolute;
            bottom: 0;
        }
    }

    .our-events {
        font-size: $title-font-size-md;
    }

    .btn-more-events {
        position: absolute;
        bottom: 0;
    }

    .feedback-title {
        font-size: $title-font-size-md;
    }

    .feedback-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .our-vision{
        font-size: $title-font-size-md;
    }

    .features{
        .feature{
            padding: 1rem 0.8rem;
        }
    }
}

@media (min-width: 1280px) {
    // .home .container{
    //     padding: 100px 50px;
    // }

    // .footer-container{
    //     padding: 100px 50px;
    // }


    // .inner-container{
    //     padding-left: 50px;
    //     padding-right: 50px;
    // }


    // .news{
    //     .our-news{
    //         font-size: $title-font-size;
    //     }
    // }

    // .our-events {
    //     font-size: $title-font-size;
    // }

    // .feedback-title {
    //     font-size: $title-font-size;
    // }

    // .our-vision{
    //     font-size: $title-font-size;
    // }

    .parallax {
        background-image: url("../images/front-page-background.jpg");
    }

    // .features{
    //     .feature{
    //         padding: 2rem;
    //     }
    // }
}

// .home .logo-white{
//     display: none;
// }

#logo{
    float: left;
    background: url(/wp-content/themes/understrap/images/obp-logo-white.png) no-repeat center center;
    background-size: contain;
    height: $logo-height !important;
}

.logo-white{
    max-height: $logo-height;
}

.bg-primary {
    background-color: lightgray !important;
    padding: 0;
}

.navbar{
    .container{
        border-top: 6px solid $second;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $primary;
    }

    @media (min-width: 1280px) {
        .nav-link{
            font-size: 18px;
        }
    }
}

.socials{
    color: white;

    a{
        color: white;
    }

    .social-facebook,
    .social-twitter{
        display: inline;
        margin-left: 5px;
    }
}

@media (min-width: 1200px){
    .features-wrapper,
    .news-wrapper,
    .events-wrapper {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px){
    .features-wrapper,
    .news-wrapper,
    .events-wrapper {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


.features{
    padding: 25px 20px !important;
    background: rgba(255,255,255,0.8);

    .logo{
        font-family: $lato-bold;

        @media (min-width: 992px) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        

        .title{
            // font-size: 4rem;
            color: $primary;
            line-height: 1.2;
            margin-left: 30px;
        }

        .obps{
            color: rgb(84,96,166);
            margin-left: 0px;
            font-size: 25px;
            margin-bottom: 12px;
            margin-top: 2rem;
        }

        .text{
            font-size: 30px;
            color: rgb(84,96,166);
            padding: 10px 30px;
        }

        .map{
            background-image: url('../images/world-map.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            .text-container{
                // background: rgba(255,255,255,0.6);
            }
        }

        .title2{
            font-size: 22px;
            font-weight: bold;
            padding-left: 30px;
            padding-right: 30px;
        }

        .text2{
            font-size: 22px;
            color: darken($second, 20%);
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .feature-row{
        height: 100%;
    }
    
    .feature{
        // padding: 2rem;
        background: $primary;
        text-align: center;
        color: white;
        font-weight: bold;
        height: 100%;

        .image{
            max-width: 100px;
            max-height: 100px;
        }

        .title{
            color: $second;
            margin: 1rem 0;
            font-size: 2rem;
            line-height: 1.2;
            font-family: $lato-bold;
        }

        .text{
            // border-bottom: 1px solid grey;
            padding: 15px 5px;
            // font-size: 20px;
            // font-family: $lato-bold;
            a{
                color: white;
            }
        }
    }

    .feature-search{
        border: 1px solid red;
        cursor: pointer;

        .title2{
            font-size: 22px;
            font-weight: bold;
            padding-left: 30px;
            padding-right: 30px;
        }

        .text2{
            font-size: 22px;
            color: darken($second, 20%);
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.parallax {
    // background-image: url("../images/front-page-background.jpg");
    // min-height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-image img{
    width: 100%;
}
  
@media (min-width: 768px) {
    .left-column-news{
        padding-right: 25px;
    }
  
    .middle-column-news{
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .right-column-news{
        padding-left: 25px;
    }

    // .logo-white{
    //     position: absolute;
    //     max-height: 80px;
    // }
}


.news{
    // background: $primary;
    background: rgba($primary, .8);
    color: white;

    .our-news{
        // font-size: $title-font-size;
        font-weight: bold;
        line-height: 1.2;
    }

    .btn-more-news {
        // position: absolute;
        // bottom: 0;
        color: $primary;
        background: $second;

        a{
            color: $primary;
        }
    }

    .news-column-content {
        background: white;
        margin-bottom: 50px;
        height: 100%;
    }

    #row-1{
        .news-column-content {
            margin-bottom: 0px;
        }
    }
    
    .news-content {
        padding: 20px 30px;
    }
    
    .news-title {
        a{
            color: $second;
        }
        margin-bottom: 10px;
        font-size: 20px;
        font-family: $lato-bold;
    }
    
    .news-description {
        color: $primary;
        margin-bottom: 10px;
        font-family: $lato-light;
    }

    .share-link{
        text-align: right;
        font-family: $lato-bold;
    }
}

#events,
#news{
    position: absolute;
    top: -86px;
}

.our-events {
    // font-size: $title-font-size;
    font-family: $lato-bold;
    line-height: 1.2;
}

.btn-more-events {
    // position: absolute;
    // bottom: 0;
    color: white;
    background: $primary;
    a{
        color: white;
    }
}

.events{
    background: rgba(247,247,247, 0.8);

    .event-title-container{
        color: $primary;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: $lato-bold;
    }

    .event-content {
        margin-bottom: 50px;
    }

    .event-description{
        font-family: $lato-light;
    }

    #row-1{
        .event-content{
            margin-bottom: 0px;
        }
    }
}

.feedback {
    background: $primary;

    .feedback-title {
        color: white;
        // font-size: $title-font-size;
        font-family: $lato-bold;
    }
    
    .feedback-text {
        color: white;
        font-size: 1.2rem;
        a{
            color: $second;
        }
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
    }
}

.brands{
    padding: 50px;
    text-align: center;

    img{
        // height: 90px;
        max-height: 120px;
        margin-right: 50px;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%)

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    .ioc{

    }

    .iode{
        max-height: 70px;
    }

    .goos{
        max-height: 95px;
    }
}

.footer-container{

    background: $primary;
    color: white;
    font-family: $lato-light;
    font-size: 13px;
    
    a {
        color: white;
    }
    
    ul#menu-footer-menu {
        padding-left: 0;
        list-style: none;
    }
    
    #menu-footer-menu li {
        margin-bottom: 5px;
    }
    
    .widget-title {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-family: $lato-regular;
    }

    ::-webkit-input-placeholder { /* Edge */
        color: white;
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
      
    ::placeholder {
        color: white;
    }

    .social-twitter{
        margin-left: 0px;
    }
}

.mailpoet_paragraph {
	display:inline-block!important;
}

input.mailpoet_text {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid $second;
    background: $primary;
    color: white;
}

input.mailpoet_submit {
    background: white;
    color: $primary;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    font-family: lato-bold;
    margin-left: 10px;
}

#content .mailpoet_text{
    font-size: 12px;
}

#content .mailpoet_text::placeholder{
    color: white;
}

#content input.mailpoet_submit{
    background: $primary;
    color: white;
}

#content .mailpoet_paragraph{
    margin-bottom: 0px !important;
}

.parsley-errors-list.filled{
  position: absolute;
}

#content{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    word-break: break-word;
}

#right-sidebar .widget {
    margin: 0 0 2.2em 0;
}

#right-sidebar ol,
#right-sidebar ul {
  padding: 0;
  list-style-type: none;
}

.widgettitle {
    margin-bottom: 0.75em;
}

.widget {
    margin: 2.2em 0;
}
.widget ul li {
  margin-bottom: 0.75em;
}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

#content .widget {
    background-color: $primary;
    // border: 1px solid #DEDEDE;
    color: white;
    font-size: 16px;
    padding: 18px;
    padding-left: 0;

    .widget-title{
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 2rem;
    }

    
}

.widget_recent_entries,
.recent-posts-extended {
    a{
        color: #76B2E1 !important;
    }

    .widget-title{
        position: relative;
    }

    .widget-title:after{
        content: " ";
        height: 100%;
        width: 40px;
        position: absolute;
        right: 0;
        background-image: url("../images/News-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.widget_em_widget{
    .widget-title{
        color: white;
    }
    a{
        color: #76B2E1 !important;
    }
    
    ul ul{
        padding-left: 0px !important;
    }

    .widget-title{
        position: relative;
    }

    .widget-title:after{
        content: " ";
        height: 100%;
        width: 40px;
        position: absolute;
        right: 0;
        background-image: url("../images/Calendar-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.widget_rotatingtweets_widget{
    .widget-title{
        color: white;
    }
    a{
        color: #76B2E1 !important;
    }
    
    ul ul{
        padding-left: 0px !important;
    }

    .widget-title{
        position: relative;
    }

    .rotatingtweets,
    .rtw_follow{
        margin-left: 18px;
        z-index: 0;
    }
}

#content .widget h3, 
#content .widget h4, 
#content .widget h5 {
    margin-top: 0;
    // margin-bottom: 0;
    text-transform: none;
    padding-left: 18px;
}
#content .widget h5, #content .widget h5 a {
  color: #777777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content .widget h5 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 10px;
  margin-right: 25px;
}
#content .widget ul {
  padding-left: 18px;
}
#content .widget .post-date {
  color: #b5b5b5;
  display: block;
}

time.updated,
.byline{
    display: none;
}

time.published{
    display: inline-block;
}

.entry-meta{
    margin-bottom: 10px;
}

.entry-content{
    margin-top: 10px;
}

#content .event .entry-meta{
    display: none;
}

.menu-item-has-children{
    padding-right: 10px;
}

.dropdown-toggle::after{
    display: none;
}

span.caret {
    color: white;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;

    position: absolute;
    // right: 0;
    top: 50%;
    // transform: translateY(-50%);
}

.double-bar a{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

@media (max-width: 768px) {
    .double-bar{
        display: none;
    }
}

article img{
    border: 3px solid #eee;
}

.wp-caption-text {
    font-size: 12px;
}

// #content a{
//     color: blue;
// }

.nf-form-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.home-icon{
    background-image: url("../images/Home-icon.png");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-right: 6px;
}

div#right-sidebar {
    margin-top: 5px;
}

.breadcrumbs {
    margin-bottom: 0.8rem;
}