// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #3a406d; // Thats a sample how you could change a BootStrap variable.
$second: #75b2e1;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1700px
) !default;

$navbar-dark-color: white;
$navbar-dark-hover-color:rgba(255,255,255,.5);

$navbar-padding-y: 1rem;

$navbar-nav-link-padding-x: 1rem !default;

$dropdown-font-size: 12px;
$dropdown-min-width: 100%;
$dropdown-padding-y: 0px;
$dropdown-spacer: 0px;
$dropdown-color: white;
$dropdown-bg: $primary;
$dropdown-border-color: white;

$dropdown-link-color: white;

$dropdown-link-hover-color: #eee;
$dropdown-link-hover-bg: transparent;

$dropdown-link-active-color: #eee;
$dropdown-link-active-bg: transparent;

$dropdown-border-radius: 0;
$dropdown-item-padding-y: 0.5rem;

$title-font-size: 80px;
$title-font-size-md: 55px;
$title-font-size-sd: 40px;
$title-font-size-xs: 40px;

$logo-height: 60px;

$navbar-height: 86px;
// $link-color: blue;

